html,body{
  height: 100%;
}
body{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
#loading,#error {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error {
  font-size: 15pt;
}

#content,#loading,#error {
  flex-grow: 1;
  margin: 15px 60px;
  padding: 0px 15px;
  box-shadow: 5px 5px 3px 1px #e3e3e3;
  background-color: #f3f3f3;
}

.reflush {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  cursor: pointer;
}

.loading {
  width: 50px;
  height: 50px;
  fill: none;
}

.loading *{
  animation: loading 1s infinite;
  stroke: #f00;
  stroke-width: 8px;
  stroke-dashoffset: 60;
  stroke-dasharray: 0 282;
}

@keyframes loading{
  0%{
    stroke-dasharray: 0 282;
    stroke-dashoffset: 60;
  }
  50%{
    stroke-dashoffset: 60;
    stroke-dasharray: 282 0;
  }
  100%{
    stroke-dashoffset: -222;
  }
}

.head{
  padding: 3px;
  display: flex;
  background-color: #fff;
  box-shadow: 3px 2px 7px 1px #d7d7d7;
}
nav {
  display: inline-block;
}

.home-icon,.back-icon {
  font-size: 15pt;
  color: #000;
  cursor: pointer;
}

.github-link {
  font-size: 25pt;
  position: absolute;
  right: 9px;
  top: 9px;
}

#github-link {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: #00000073;
  clip-path: polygon(0 0,100% 0,100% 100%);
}

.split {
  width: 2px;
  margin: 2px 5px 2px 3px;
  background-color: #d5d5d5;
  display: inline-block;
}
.foot>a{
  color: #000;
}
.foot {
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 6px;
  box-shadow: 1px -2px 10px 2px #eaeaea;
}
.github-icon {
  top:8px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  position: absolute;
}

/**markdown*/

img {
  max-width: 100%;/**防止图片过大跑出框外*/
}