html,body{
  height: 100%;
}
body{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
#loading,#error {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error {
  font-size: 15pt;
}

#content,#loading,#error {
  flex-grow: 1;
  margin: 15px 60px;
  padding: 0px 15px;
  box-shadow: 5px 5px 3px 1px #c6c6c6;
  background-color: #eaeaea;
}

.reflush {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  cursor: pointer;
}

.loading {
  width: 50px;
  height: 50px;
  fill: none;
}

.loading *{
  animation: loading 1s infinite;
  stroke: #f00;
  stroke-width: 8px;
  stroke-dashoffset: 60;
  stroke-dasharray: 0 282;
}

@keyframes loading{
  0%{
    stroke-dasharray: 0 282;
    stroke-dashoffset: 60;
  }
  50%{
    stroke-dashoffset: 60;
    stroke-dasharray: 282 0;
  }
  100%{
    stroke-dashoffset: -222;
  }
}

.head{
  padding: 3px;
  display: flex;
  background-color: #d6d6d6;
  box-shadow: 3px 2px 7px 1px #999;
}
nav {
  display: inline-block;
}

.home-icon,.back-icon {
  width: 50px;
  height: 50px;
  fill: #7d7d7d;
  cursor: pointer;
}

.split {
  width: 2px;
  margin: 5px 5px 5px 3px;
  background-color: #b6b6b6;
  display: inline-block;
}
.foot {
  background-color: #b6b6b6;
  position: relative;
  text-align: center;
  padding: 6px;
}
.github-icon {
  top:8px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  position: absolute;
}